/* --------------------------------------- */
/* ----- Navigation ----- */
/* --------------------------------------- */
.main-nav {
    background-color: #111;
    padding: 1rem 2rem;
    border-bottom: 1px solid #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .main-nav__items {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }
  
  .main-nav__item {
    margin: 0;
  }
  
  .main-nav__link {
    text-decoration: none;
    color: #f0e9f2;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
    position: relative;
    font-size: 2rem;
    transition: color 0.3s ease;
  }
  
  .main-nav__link:hover,
  .main-nav__link:focus {
    color: #ff3258;
  }
  
  .main-nav__link::after {
    content: '';
    position: absolute;
    bottom: -0.4rem;
    left: 0;
    right: 100%;
    height: 2px;
    background: #ff3258;
    transition: right 0.3s ease;
  }
  
  .main-nav__link:hover::after,
  .main-nav__link:focus::after {
    right: 0;
  }
  
  @media (max-width: 340px) {
    .main-nav__items {
      flex-direction: column;
      gap: 1rem;
    }
  
    .main-nav__link {
      font-size: 1.6rem;
    }
  }
  