  <!-- ***** Footer ***** -->

  <footer role="contentinfo" class="footer">
    <div class="row">
      <ul class="footer__social-links">
          </a>
        </li>
        <li class="footer__social-link-item">
          <a href="https://github.com/Steins-trait" target="_blank" title="Link to Github Profile">
            <img src="/assets/images/github.svg" class="footer__social-image" alt="Github">
          </a>
        </li>
        <li class="footer__social-link-item">
          <a href="https://instagram.com/abbys.mal/" target="_blank" title="Link to Instragram Profile">
            <img src="/assets/images/instagram_100x100.webp" class="footer__social-image" alt="Instagram">
          </a>
        </li>
        <li class="footer__social-link-item">
          <a href="https://www.linkedin.com/in/abbasamirza/" target="_blank" title="Link to Linkedin Profile">
            <img src="/assets/images/linkedin.svg" title="Link to Linkedin Profile" class="footer__social-image" alt="Linkedin">
          </a>
        </li>
      </ul>

      
    </div>
  </footer>