<nav class="main-nav">
  <ul class="main-nav__items">
    <li class="main-nav__item"><a href="/" class="main-nav__link">Home</a></li>
    <li class="main-nav__item"><a href="/portfolio/" class="main-nav__link">Portfolio</a></li>
    <!-- <li class="main-nav__item"><a href="/blog/" class="main-nav__link">Blog</a></li>
    <li class="main-nav__item"><a href="/hobbies/" class="main-nav__link">Hobbies</a></li>
    <li class="main-nav__item"><a href="/store/" class="main-nav__link">Store</a></li> -->
  </ul>
</nav>
